# {{ ansible_managed }}

[global]
#--authconfig--start-line--
   workgroup = {{ adauth_workgroup }}
   password server = {{ adauth_pdc }}
   realm = {{ adauth_realm }}

   idmap uid = 16777216-33554431
   idmap gid = 16777216-33554431
   winbind separator = +
   template shell = /bin/false
   winbind use default domain = true
   winbind offline logon = false
#--authconfig--end-line--

   server string = Samba Server Version %v
   client signing = yes
   client use spnego = yes
   kerberos method = secrets and keytab
   # logs split per machine
   log file = /var/log/samba/%m.log
   # max 50KB per log file, then rotate
   max log size = 50
   security = ads
   passdb backend = tdbsam
   load printers = yes
   cups options = raw
   netbios name = {{netbios_name|default(ansible_hostname)}}

[homes]
    comment = Home Directories
    browseable = no
    writable = yes

[printers]
    comment = All Printers
    path = /var/spool/samba
    browseable = no
    guest ok = no
    writable = no
    printable = yes

